@model Movie

<div class="card mb-3 shadow-sm text-white bg-dark">
  
            <img class="card-img-top" src="~/images/@Model.ImageUrl" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">@Model.Name</h5>
                <p class="text-muted">@Model.Stars</p>
                <p></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="~/movie/details/@Model.MovieId" class="btn btn-sm text-white btn-outline-secondary">Detaylar</a>
                </div>
                <small class="text-white text-muted">@Model.Year</small>
              </div>
            </div>
          
</div>