<header>
        <div class="jumbotron jumbotron-fluid text-white" style="background-color:#313d4a;">
            <div class="container">
                <h1 class="display-4">Movie App</h1>
                <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, laborum! Eos praesentium eligendi hic, iusto delectus, ad commodi consectetur inventore error ducimus ipsam dolore quo porro id, similique natus. Dolore!</p>
            </div>
        </div>
    </header>