@model filmapp.webui.Models.RoleModel
<h1 class="text-white h3">Rol Ekle</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <form class="text-white" asp-controller="Admin" asp-action="RoleCreate" method="POST">
            <div class="form-group row">
                <label asp-for="Name" class="text-white col-sm-2 col-form-label">Rol Adı:</label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>           
            
            
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <a href="~/Admin/RoleList" class="btn btn-sm btn-outline-secondary">Geri</a>
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Rol Ekle</button>
                </div>
            </div>
        
        </form>
    </div>
</div>