@model filmapp.webui.Models.RegisterModel
<h1 class="text-white h3">Kayıt Ol</h1>
<hr>
<div class="row">
    <div class="col-md-8">
        <form class="text-white" asp-controller="Account" asp-action="Register" method="POST">
            <div class="form-group row">
                <label asp-for="FirstName" class="text-white col-sm-2 col-form-label">İsim:</label>
                <div class="col-sm-4">
                <input class="form-control" asp-for="FirstName">
                <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            
                <label asp-for="LastName" class="text-white col-sm-1 col-form-label">Soyisim:</label>
                <div class="col-sm-5">
                <input class="form-control" asp-for="LastName">
                <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="UserName" class="text-white col-sm-2 col-form-label">Kullanıcı Adı:</label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="UserName">
                <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="Password" class="text-white col-sm-2 col-form-label">Parola:</label>
                <div class="col-sm-4">
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            
                <label asp-for="RePassword" class="text-white col-sm-1 col-form-label">Parola:</label>
                <div class="col-sm-5">
                <input class="form-control" asp-for="RePassword">
                <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
            </div> 
            <div class="form-group row">
                <label asp-for="Email" class="text-white col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div> 

            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Kayıt Ol</button>
                </div>
            </div>
        
        </form>
    </div>
</div>
@section Scripts
{
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>    
}